* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 1rem;
    background-color:coral;
}

/* Main section */
.background-main {
    min-height: 80vh;
    background-color: blanchedalmond;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: turquoise;
   
}